{% extends "base.html" %}

{% block content %}
<h2>📋 Lista de Endereços</h2>

{% if enderecos %}
    <ul>
        {% for e in enderecos %}
            <li>
                {{ e.cep }} - {{ e.logradouro }} - {{ e.localidade }}/{{ e.uf }}
                [<a href="{% url 'endereco_detail' e.pk %}">Ver</a>]
                [<a href="{% url 'endereco_update' e.pk %}">Editar</a>]
                [<a href="{% url 'endereco_delete' e.pk %}">Deletar</a>]
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum endereço cadastrado ainda.</p>
{% endif %}
{% endblock %}
